body {
  font-family: "Noto Sans SC", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.text {
  font-weight: 500;
  line-height: 24px;
}
.page-btn {
  display: inline-block;
  padding: 12px 32px;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}
.main-title {
  font-weight: 900;
  font-size: 46px;
  line-height: 72px;
  color: #ffffff;
}
.element-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}
.section-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 64px;
  text-align: center;
  color: #31343a;
  margin-bottom: 40px;
}
.content-section {
  padding: 80px 10px;
}
.active-page {
  color: #5fcf9d !important;
}
/* HEADER */
.header {
  width: 100%;
  background: rgba(0, 0, 0, 1);
  position: fixed;

  z-index: 1005;
}
.header-wrapper {
  max-width: 1224px;
  margin: 0 auto;
  padding: 4px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  max-width: 220px;
  margin: 0 10px;
}
.header__logo > img {
  width: 100%;
}
.header__navbar {
  max-width: 604px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: relative;
}
.header__navbar a,
.header__navbar-mobile a {
  text-decoration: none;
  color: #ffffff;
}
#open-subnavbar::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 5px;
  background: url("../img/dropdown.svg") 50% no-repeat;
  background-size: cover;
  margin-left: 11px;
  vertical-align: middle;
  transition: 0.3s ease;
}
#open-subnavbar.opened::after {
  transform: rotate(180deg);
}
.header__navbar--subnavbar {
  position: absolute;
  width: 240px;
  top: calc(100% + 7px);
  background: #fff;
  z-index: 101;
  display: none;
}
.header__navbar--subnavbar > a,
.header__navbar-mobile > a,
.header__navbar-mobile > nav > a {
  color: #31343a;
  line-height: 40px;
  padding-left: 16px;
}
.header__navbar--subnavbar > a {
  display: block;
}
.header__navbar--subnavbar > a:hover {
  background: #5fcf9d;
  color: #fff;
}
.header__navbar--subnavbar {
  padding: 8px 0;
  box-shadow: 0px 16px 48px rgba(103, 114, 148, 0.16);
  border-radius: 4px;
}
.header__btn {
  border: 1px solid #ffffff;
}
.header__toggler {
  display: none;
  height: 16px;
  cursor: pointer;
}
.header__toggler--item {
  display: block;
  width: 18px;
  height: 2px;
  background: #fff;
  position: relative;
  transition: 0.3s ease;
  top: 50%;
  transform: translateY(-50%);
}
.header__toggler--item::before,
.header__toggler--item::after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 2px;
  background: #fff;

  transition: 0.3s ease;
}
.header__toggler--item::before {
  top: -5px;
}
.header__toggler--item::after {
  bottom: -5px;
}
.header__toggler.opened > span {
  background-color: transparent;
}
.header__toggler.opened > span::before {
  top: 0;
  transform: rotate(45deg);
}
.header__toggler.opened > span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.header__navbar-mobile {
  position: absolute;
  width: 100%;
  flex-direction: column;
  top: 100%;
  left: 0;
  background: #fff;
  z-index: 101;
  padding: 8px 0;
  display: none;
  transition: 0.3s ease;
  height: 0;
}
.header__navbar-mobile.active {
  display: flex;
  height: auto;
}
.header__navbar-mobile--subnavbar {
  padding-left: 32px;
  display: flex;
  flex-direction: column;
}
#open-mobile-subnavbar {
  background: url("../img/ic_chevron_rdown.svg") 96% 50% no-repeat;
}
#open-mobile-subnavbar.opened {
  background: url("../img/ic_chevron_up.svg") 96% 50% no-repeat;
}
.header__navbar-mobile a:hover {
  background-color: #5fcf9d;
}

/* end HEADER */

/* MAIN PAGE STYLES */
.mainpage-top {
  background: url("../img/hero-bg.svg") 50% no-repeat;
  background-size: cover;
}
.main-page-header {
  background: rgba(0, 0, 0, 0.2);
}
/* end MAIN PAGE STYLES  */

/* HERO */
.hero-wrapper {
  max-width: 1224px;
  margin: 0 auto;
  padding: 136px 10px 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hero-text {
  color: #ffffff;
  margin-bottom: 32px;
}
.hero__left {
  max-width: 768px;
  padding: 32px 0;
}
.hero__left > .main-title {
  margin-bottom: 32px;
}
.hero__bottom {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  max-width: 530px;
  padding: 24px 32px;
  border-radius: 4px;
  margin-bottom: 32px;
}
.hero__bottom > h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}
.hero-btn {
  background: #5fcf9d;
}
/* end HERO */

/* PREORDER FORM */
.preorder-form {
  max-width: 392px;
  background: #ffffff;
  width: 100%;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  margin-left: 10px;
}
.preorder-form > .element-title {
  color: #31343a;
  margin-bottom: 16px;
  text-align: center;
}
.custom-form-element {
  margin-bottom: 16px;
  position: relative;
}
.custom-form-element__header {
  font-size: 14px;
  line-height: 20px;
  color: #666c7d;
  margin: 0 0 8px 16px;
}
.custom-form-element__select {
  font-size: 18px;
  line-height: 28px;
  color: #666c7d;
  background: url("../img/grey-dropdown.svg") 96% 50% no-repeat, #f8f8f8;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 2px 16px;
  cursor: pointer;
}
.custom-form-element__select.active {
  background: url("../img/grey-dropdown-up.svg") 96% 50% no-repeat, #f8f8f8;
}
.custom-form-element__select--menu {
  position: absolute;
  z-index: 100;
  top: calc(100% + 4px);
  background: #fff;
  width: 100%;
  border: 2px solid blue;
  display: none;
}
.custom-checkbox {
  text-align: center;
  margin: 24px 0 16px;
}
.custom-checkbox > input {
  display: none;
}
.custom-checkbox > label {
  position: relative;
  cursor: pointer;
  color: #666c7d;
}
.custom-checkbox > label::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url("../img/checkbox-not-cheked.svg") 50% no-repeat;
  position: absolute;
  left: -29px;
  top: 3px;
}
.custom-checkbox > input:checked + label::before {
  background: url("../img/checkbox-cheked.svg") 50% no-repeat;
}
.custom-total {
  margin-bottom: 16px;
}
.submot-btn-wrapper {
  text-align: center;
}
.submit-btn {
  background: #f8ce46;
}
/* end PREORDER FORM */

/* SERVICE */
.service {
  padding-bottom: 40px;
}
.service-wrapper {
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.service__item {
  max-width: 420px;
  padding: 28px 32px 52px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 16px 48px rgba(103, 114, 148, 0.16);
  border-radius: 4px;
}
.service__item:nth-child(2n + 1) {
  margin-right: 24px;
}
.service__item {
  margin-bottom: 40px;
}
.service__item > img {
  margin-bottom: 20px;
}
.service__item > h3 {
  color: #31343a;
  margin-bottom: 8px;
}
.service__item > p {
  color: #666c7d;
  text-align: left;
}
/* end SERVICE */

/* GUARANTEE */
.guarantee {
  background: #f8f8f8;
  padding-bottom: 40px;
}
.guarantee-wrapper {
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.guarantee__item {
  max-width: 392px;
  width: 100%;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 16px 48px rgba(103, 114, 148, 0.16);
  border-radius: 4px;
  padding: 24px 0;
  margin-bottom: 40px;
}
.guarantee__item:not(:nth-child(3n + 3)) {
  margin-right: 24px;
}
.guarantee__item--image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #f8ce46;
  margin: 0 auto 16px;
}
.guarantee__item > p {
  color: #666c7d;
  margin-top: 8px;
}
/* end GUARANTEE */

/* TESTIMONIALS */
.testimonials {
  padding-bottom: 150px;
  /* position: relative; */
}
.testimonials__slider-container {
  max-width: 1224px;
  height: 590px;
  margin: 0 auto;
  position: relative;
}
.testimonials__slider {
  padding-top: 17px;
}
.iphone-image__slider {
  max-width: 340px;
  width: 100%;
  height: 589.46px;

  position: absolute;
  z-index: 3;
  top: 0;
  left: calc(50% - 1px);
  transform: translateX(-50%);

  background: url(../img/iPhoneX.svg) 50% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3.5px;
  padding-bottom: 8px;
}
.iphone-image {
  width: 253.15px !important;
  height: 546.96px !important;
}
.iphone-image img {
  width: 100%;
  height: 100%;
}
.testimonials__slider--controls {
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translate(-50%, 100%);
}
.testi-prev-btn:hover > circle,
.testi-next-btn:hover > circle {
  cursor: pointer;
  fill: #5fcf9d;
}
.testi-prev-btn:hover > path,
.testi-next-btn:hover > path {
  fill: #fff;
}
.active-slide {
  -webkit-mask-image: url("../img/mask.svg");
  mask-image: url("../img/mask.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top;
  mask-position: top;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  width: 253.15px !important;
  height: 546.96px !important;
}
.testimonials__slider--slide.active-current {
  width: 284px !important;
}
.testimonials__slider--slide {
  box-sizing: border-box;
  text-align: center;
  width: 204px !important;
  margin: 0 24px;
  font-weight: 800;
  padding-top: 69px;
}
.testimonials__slider--slide > img {
  width: 204px;
  margin: 0 auto;
}
.mask {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.mask rect {
  mask: url(#mask);
}
.testimonials .slick-track {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}
/* end TESTIMONIALS */

/* NUMBERS */
.numbers {
  max-width: 808px;
  background: #ffffff;
  box-shadow: 0px 16px 48px rgba(103, 114, 148, 0.16);
  border-radius: 4px;
  margin: 0 auto;
  padding: 64px 48px;
  box-sizing: border-box;
}
.numbers-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.numbers > h2 {
  margin-bottom: 32px;
}
.numbers__item {
  max-width: 184px;
  text-align: center;
}
.numbers__item > h3 {
  margin: 0;
  color: #e6645f;
}
.numbers__item > p {
  color: #666c7d;
}
/* end NUMBERS */

/* BLOG */
.blog {
  padding: 90px;
}
.slider__container {
  max-width: 1224px;
  margin: 0 auto;
  position: relative;
}
.blog__slider {
  margin: 0 -12px;
}
.blog__slider--slide.slick-slide {
  padding: 0 12px;
}
.blog__slider--slide > img {
  width: 100%;
  margin-bottom: 16px;
}
.blog__slider--slide > h3 {
  margin-bottom: 8px;
}
.blog__slider--slide > .text {
  color: #666c7d;
}
.order-now.text {
  color: #5fcf9d;
  margin-top: 8px;
}
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.prev-btn {
  left: -78px;
}
.next-btn {
  right: -78px;
}
.blog__slider .slick-dots {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  margin-top: 40px;
}
.blog__slider .slick-dots > li:not(:last-child) {
  margin-right: 12px;
}
.blog__slider .slick-dots > li > button {
  text-indent: -9999px;
  background-color: #efefef;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  outline: none !important;
  padding: 0;
  box-sizing: unset;
  cursor: pointer;
}
.blog__slider .slick-active > button {
  background-color: #5fcf9d !important;
}
/* end BLOG */
/* CEO */
.ceo {
  max-width: 1224px;
  margin: 0 auto;
}
.ceo__container {
  display: flex;
  flex-wrap: wrap;
}
.ceo__container--item {
  max-width: 580px;
  margin-bottom: 48px;
}
.ceo__container--item > h3 {
  line-height: 28px;
  margin-bottom: 16px;
  font-size: 16px;
}
.ceo__container--item:nth-child(2n + 1) {
  margin-right: 64px;
}
.ceo__container--item > p {
  line-height: 28px;
}
/* end CEO */
/* FOOTER */
.footer {
  background: #000000;
}
.footer-wrapper {
  max-width: 1224px;
  margin: 0 auto;
}
.footer__container {
  padding: 104px 10px 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__left--logo {
  max-width: 204px;
  margin: -25px 0 25px;
}
.footer__left--logo > img {
  width: 100%;
}
.footer__left--navbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 57px;
}
.footer__left--navbar a {
  text-decoration: none;
  color: #fbfbfd;
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
  white-space: nowrap;
}
.footer__left--navbar a:hover {
  color: #5fcf9d;
}
.footer__left--navbar a:not(:last-child) {
  margin: 0 0 24px;
}
.footer__left--icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__left--icons > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #141414;
  border-radius: 2px;
  text-decoration: none;
}
.footer__left--icons > a:not(:last-child) {
  margin-right: 8px;
}
.footer__left--icons a:hover path,
.footer__left--icons a:hover circle:not(.camera) {
  fill: #5fcf9d !important;
}
.footer__left--icons a:hover rect,
.footer__left--icons a:hover circle.camera {
  stroke: #5fcf9d !important;
}
.footer__center > * {
  color: #ffffff;
}
.footer__center > h2 {
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 50px;
}
.footer__center > a,
.footer__center > p {
  font-weight: bold;
  line-height: 24px;
  color: #fbfbfd;
}
.footer__center > a {
  text-decoration: none;
  display: block;
}
.footer__center > a:hover {
  color: #5fcf9d;
}
.footer__center > p,
.footer__center > a:not(:last-child) {
  margin: 0 0 24px;
}

.footer__right > h2 {
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 50px;
}
.footer__right--payments,
.footer__right--guarantees {
  max-width: 336px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__descriptor {
  color: #fff;
  text-align: center;
  padding: 0 10px;
  margin-top: 0;
}
.footer__copyright {
  padding: 24px 0 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: rgba(251, 251, 253, 0.5);
}
.no-br-1000 {
  display: block;
  margin-top: 24px;
}
/* end FOOTER */

/* TOP SECTION ORDER FORM PAGE */
.top-section {
  padding: 130px 10px 65px;
  text-align: center;
}
.top-section > .section-title {
  margin-bottom: 24px;
}
/* end TOP SECTION ORDER FORM PAGE */
/* FORM SECTION */

.form-section {
  background: #f8f8f8;
}
.block.active {
  opacity: 1 !important;
}
.block-text.active {
  fill: #f8f8f8;
}
.form-section-wrapper {
  max-width: 1224px;
  margin: 0 auto;
  padding: 65px 10px 80px;

  position: relative;
}
.form-section__progressbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}
.form-section__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* end FORM SECTION */

/* ORDER FORM */
.form-section__body--order-form {
  width: 57.5%;
}
.order-form__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #31343a;
}
.order-form__subtitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #666c7d;
  margin-bottom: 16px;
}
.form-section__body--order-form .custom-form-element__select {
  background: url("../img/grey-dropdown.svg") 96% 50% no-repeat, #fff;
}
.order-form__dropdowns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.order-form__dropdowns--column {
  width: 46.5%;
  display: inline-block;
}
.form-section__body--order-form textarea {
  resize: none;
  width: 100%;
  min-height: 96px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 2px 16px;
  font-size: 18px;
  line-height: 28px;
  color: #666c7d;
}
.order-form-title {
  margin-top: 32px;
  text-align: center;
}
.order-form-subtitle {
  line-height: 24px;
  text-align: center;
  color: #666c7d;
  margin-top: 8px;
  margin-bottom: 16px;
}
.order-form__draggable-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.draggable__item {
  width: 200px;
}
.draggable__item > input {
  visibility: hidden;
}
.draggable__item > label {
  display: inline-block;
  padding: 16px 8px;
  background: #fff;
  text-align: center;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0;
}
.draggable__item > label > .page-btn {
  background: #f8ce46;
  margin: 44px 0 0;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
}
.draggable__item > label > h3 {
  color: #31343a;
}
.draggable__item > label > p {
  line-height: 24px;
  color: #666c7d;
  margin: 8px 0 44px;
}
.order-form__promocode {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 48px;
  margin-bottom: 24px;
}
.order-form__promocode > input {
  width: 288px;
  padding: 2px 76px 2px 16px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 18px;
  line-height: 28px;
  color: #666c7d;
}
.order-form__promocode--apply {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #f8ce46;
  cursor: pointer;
}
.order-form__promocode + .text {
  text-align: center;
  color: #666c7d;
  margin-top: 0;
  margin-bottom: 48px;
}
.order-form__submit {
  text-align: center;
}
.order-form__submit > .page-btn {
  background: #5fcf9d;
  width: 200px;
  box-sizing: border-box;
}
#date-input {
  width: 100%;
  display: block;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 2px 16px;
  cursor: pointer;
  font-size: 18px;
  line-height: 28px;
  color: #666c7d;
  background: url("../img/ic_drop_down.svg") 97% 50% no-repeat, #ffffff;
  position: relative;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 3%;
}
[type="date"]:focus {
  outline: none;
}
.form-item {
  display: none;
}
.active-form {
  display: block;
}
/* end ORDER FORM */

/* REGISTRATION FORM */
.form-section__body--order-form.reg-form {
  width: 46.5%;
  margin: 0 auto;
}
#reg-form {
  margin-top: 32px;
}
.reg-form > form > h4 {
  text-align: center;
  color: #31343a;
  margin-bottom: 24px;
}
.reg-forms-toggler > input {
  display: none;
}
.reg-forms-toggler,
.reg-forms-toggler__label {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reg-forms-toggler {
  margin: 24px 0 32px;
  justify-content: space-between;
}
.reg-forms-toggler__label {
  font-weight: 500;
  line-height: 24px;
  color: #666c7d;
  cursor: pointer;
}
.reg-forms-toggler__label > span {
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #677294;
  border-radius: 50%;
  font-size: 20px;
  line-height: 20px;
  margin-right: 18px;
}
/* input[name="customer"]:checked + label,
input[name="customer-type"]:checked + .reg-forms-toggler__label {
  color: #020202;
} */
input[name="customer"]:checked + label,
input[name="customer-type"]:checked + .reg-forms-toggler__label > span {
  border: none;
  background: url("../img/ic_radio_on.svg") 50% no-repeat;
  background-size: cover;
}
.reg-form__socials {
  text-align: center;
}
.reg-form__socials:not(:last-child) {
  margin-bottom: 8px;
}
.custom-form-element__select.textfield {
  background: #fff;
}
.reg-form > form .custom-form-element__select {
  width: 100%;
}
.reg-form > form > .order-form__submit {
  margin-top: 48px;
}
.reg-form > form {
  display: none;
}
.active-reg {
  display: block !important;
}
.reg-form__socials {
  cursor: pointer;
}
/* end REGISTRATION FORM */
/* PAYMENT FORM */
#payment-form {
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 24px;
  margin-top: 24px;
}
.payment-form__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.payment-form__top .reg-forms-toggler__label > span {
  margin-right: 10px;
}
.payment-form__top--cards > img:not(:last-child) {
  margin-right: 20px;
}
.card-info__right,
.payment-form__items--card-info,
.payment-form__items--credentials {
  display: flex;
  justify-content: space-between;
}
.payment-form__items--credentials > .custom-form-element {
  width: 48%;
}
.payment-form__items--card-info > .custom-form-element > input,
.card-info__right > .custom-form-element > input,
.payment-form__items--credentials > .custom-form-element > input {
  width: 100%;
}
.payment-form__items--card-info > .custom-form-element {
  width: 48%;
}
.payment-form__items--card-info .custom-form-element {
  margin-bottom: 0;
}
.card-info__right {
  width: 48%;
  align-items: center;
}
.card-info__right > .custom-form-element:first-child {
  width: 58%;
}
.card-info__right > .custom-form-element:last-child {
  width: 38%;
}
#payment-form > .custom-checkbox {
  margin: 32px 0;
}
/* end PAYMENT FORM */
/* THANK YOU MODAL */
.form-section__body--modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10000;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.modal-wrapper {
  background: #ffffff;
  box-shadow: 0px 16px 56px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 48px;
  text-align: center;
  max-width: 1016px;
  position: relative;
}
.close-modal {
  position: absolute;
  top: 21px;
  right: 21px;
  cursor: pointer;
}
.modal-wrapper > h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  color: #31343a;
  margin-bottom: 24px;
}
.modal-wrapper > p {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #666c7d;
  margin-bottom: 32px;
}
.ty-submit > .page-btn {
  background: #f8ce46;
}
/* end THANK YOU MODAL */
/* ORDER COST FORM */
.form-section__body--order-cost {
  width: 32.5%;
  min-height: 100%;
}
.order-cost {
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
  display: inline-block;
  width: 100%;
  padding: 16px 32px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-top: 16px solid #f8ce46;
}
.order-cost > h3 {
  color: #31343a;
  text-align: center;
  margin-bottom: 16px;
}
.order-cost > p {
  color: #666c7d;
  margin-bottom: 16px;
}
.order-cost > p > span:first-child {
  margin-right: 16px;
}
.order-cost__divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}
.order-cost__divider > p {
  color: #666c7d;
  margin-right: 16px;
  white-space: nowrap;
}
.order-cost__line {
  width: 100%;
  height: 2px;
  background: #dddddd;
}
.order-cost__item,
.order-cost__item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.order-cost__item {
  margin-bottom: 16px;
}
.order-cost__item-wrapper > p {
  color: #31343a;
  margin-left: 16px;
}
.order-cost__item--price {
  color: #31343a;
}
.order-cost__item--price > span:last-child {
  font-size: 12px;
}
.order-cost__descriptor {
  text-align: center;
  margin-top: 16px;
  color: #666c7d;
}
/* end ORDER COST FORM */

/*ESSAY PAGE STYLES*/
.mainpate-top--essay {
  background: url(../img/essay-bg.svg) 50% no-repeat;
  background-size: cover;
}
.hero-wrapper--essay {
  flex-direction: column;
  text-align: center;
  padding: 210px 10px 132px;
}
.hero-wrapper--essay > h1 {
  margin-bottom: 24px;
}
.hero-wrapper--essay > p {
  max-width: 808px;
}
/* ESSAY WRITING SERVICES */
.essay-writing--wrapper {
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.essay-writing__item {
  padding: 32px;
  max-width: 392px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 16px 48px rgba(103, 114, 148, 0.16);
  border-radius: 4px;
}
.essay-writing__item > h3 {
  color: #31343a;
  margin-bottom: 8px;
}
.essay-writing__item > p {
  color: #666c7d;
  font-weight: 400;
  text-align: left;
}
.essay-writing__item.centered {
  margin: 0 24px;
}
.essay-writing__item:nth-last-child(-n + 3) {
  margin-top: 24px;
}
/* end ESSAY WRITING SERVICES */
/* BENEFITS */
.benefits {
  background: #f8f8f8;
}
.benefits > .section-title {
  margin-bottom: 24px;
}
.benefits--wrapper {
  max-width: 1224px;
  margin: 0 auto;
}
.benefits--wrapper > .text {
  color: #666c7d;
  font-weight: 400;
  text-align: center;
  max-width: 808px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.benefits__items {
  display: flex;
  justify-content: space-between;
}
.benefits__items--item {
  max-width: 392px;
  width: 100%;
}
.benefits__items--item > h3 {
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  color: #31343a;
  margin-bottom: 8px;
}
.benefits__items--item > p {
  line-height: 1.5;
  color: #666c7d;
}
/* end BENEFITS */
/* STEPS */
.steps--wrapper {
  max-width: 1224px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.steps__separator {
  position: absolute;
  width: 70%;
  height: 4px;
  background: url("../img/line.svg") 50% no-repeat;
  top: 44px;
  left: 184px;
}
.steps__item {
  width: 288px;
  margin: 16px 0;
}
.steps__item--bullet {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #16c17f;
  line-height: 56px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 28px;
  margin: 0 auto 32px;
}
.steps__item > h3 {
  color: #31343a;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}
.steps__item > p:not(.steps__item--bullet) {
  color: #666c7d;
  line-height: 1.5;
}
/* end STEPS */
/* FAQ */
.faq-section {
  background: #f8f8f8;
}
.faq-section > h2:last-of-type {
  margin-top: 80px;
}
.faq-section--wrapper {
  max-width: 808px;
  margin: 0 auto;
}
.faq-section__item {
  background: #ffffff;
  box-shadow: 0px 16px 48px rgba(103, 114, 148, 0.16);
  border-radius: 4px;
  padding: 32px 24px;
}
.faq-section__item:not(:last-child) {
  margin-bottom: 24px;
}
.faq-section__item > h3 {
  font-size: 20px;
  line-height: 1.6;
  color: #31343a;
  margin-bottom: 8px;
}
.faq-section__item > p {
  line-height: 1.5;
  color: #666c7d;
}
/* end FAQ */
/* end ESSAY PAGE STYLES */

/* ONLINE COURSE PAGE STYLES */
.mainpage-top--online-course {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.32) 100%
    ),
    url("../img/online-course-bg.svg") 50% no-repeat;
  background-size: cover;
}
.hero-wrapper--online-course {
  flex-direction: column;
  text-align: center;
  padding: 210px 10px 132px;
}
.hero-wrapper--online-course > h1 {
  margin-bottom: 24px;
}
.hero-wrapper--online-course > p {
  max-width: 808px;
}
/* ONLINE COURSE SERVICES */
.services__container {
  max-width: 808px;
  margin: 0 auto;
  color: #666c7d;
  line-height: 1.5;
}
.services__container > p,
.services__container > ul:not(:last-child) {
  margin-bottom: 24px;
}
.services__container > ul {
  columns: 2;
  list-style-image: url("../img/bullet.svg");
}
/* end ONLINE COURSE SERVICES */

/* end ONLINE COURSE PAGE STYLES */

/* EXAMS PAGE STYLES */
.mainpage-top--exams {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.32) 100%
    ),
    url("../img/exams-bg.svg") 50% no-repeat;
  background-size: cover;
}
.hero-wrapper--exams {
  flex-direction: column;
  text-align: center;
  padding: 210px 10px 132px;
}
.hero-wrapper--exams > h1 {
  margin-bottom: 24px;
}
.hero-wrapper--exams > p {
  max-width: 808px;
}
.hero-wrapper--exams > ul {
  max-width: 808px;
  width: 100%;
  columns: 2;
  list-style-image: url("../img/bullet.svg");
  color: #fff;
  line-height: 1.5;
  text-align-last: left;
}
.exams-services {
  background: #f8f8f8;
}
/* PRICING TABLE */
.pricing-table {
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  max-width: 808px;
  width: 100%;
  margin: 0 auto;
}
.pricing-table__row {
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  padding-left: 24px;
}
.pricing-table__row.pricing-table__row--title-row > p {
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  font-weight: 700;
}
.pricing-table__row:not(:last-child) {
  border-bottom: 2px solid #dddddd;
}
.pricing-table__row > p {
  width: 100%;
  max-width: 110px;
  padding: 24px;
  font-weight: 1.5;
  color: #31343a;
}
.pricing-table__row > p > span {
  font-size: 12px;
  line-height: 2;
}
.pricing-table__row > p:first-child {
  max-width: 472px;
}
.pricing-table__row > p:not(:first-child) {
  text-align: center;
}
.pricing-table__row > p:nth-child(2) {
  border-left: 2px solid #dddddd;
  border-right: 2px solid #dddddd;
}
/* end PRICING TABLE */
/* end EXAMS PAGE STYLES */

/* ASSIGNMENT PAGE STYLES */
.mainpage-top--assignment {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.32) 100%
    ),
    url("../img/assignment-bg.svg") 50% no-repeat;
  background-size: cover;
}
.hero-wrapper--assignment {
  flex-direction: column;
  text-align: center;
  padding: 210px 10px 132px;
}
.hero-wrapper--assignment > h1 {
  margin-bottom: 24px;
}
.hero-wrapper--assignment > p {
  max-width: 808px;
}
.assignment--services {
  background: #f8f8f8;
}
.assignemnt--faq-section {
  background: #fff;
}
/* end ASSIGNMENT PAGE STYLES */

/* MEDIA QUERIES */
@media screen and (max-width: 1224px) {
  .ceo__container {
    flex-direction: column;
    align-items: center;
  }
  .ceo__container--item:nth-child(2n + 1) {
    margin-right: 0px;
  }
  .steps__item {
    width: 50%;
    padding: 0 50px;
  }
  .steps__separator {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .guarantee__item:not(:nth-child(3n + 3)) {
    margin-right: 0;
  }
  .guarantee__item:nth-child(2n + 1) {
    margin-right: 24px;
  }
}
@media screen and (max-width: 1050px) {
  .header__navbar {
    display: none;
  }
  .header__toggler {
    display: block;
  }
  .hero-wrapper {
    flex-direction: column;
  }
  .preorder-form {
    margin-top: 80px;
    margin-left: 0;
  }
  .order-form__dropdowns {
    flex-direction: column;
  }
  .order-form__dropdowns--column {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .no-br-1000 {
    display: none;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
  .footer__left--navbar {
    flex-flow: row wrap;
    justify-content: center;
  }
  .footer__left--navbar a:not(:last-child) {
    margin: 0 20px 0 0;
  }
  .footer__left--logo {
    margin: 0 auto 51px;
  }
  .footer__left--icons {
    justify-content: center;
  }

  .hero > img,
  .top,
  .bottom,
  .support-pattern-top,
  .support-pattern-bottom,
  .footer__center > h2,
  .footer__right > h2 {
    display: none;
  }
  .footer__center {
    text-align: center;
    margin-top: 50px;
  }
}
@media screen and (max-width: 904px) {
  .service-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .service__item:nth-child(2n + 1) {
    margin-right: 0;
  }
}
@media screen and (max-width: 828px) {
  .guarantee-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .guarantee__item:nth-child(2n + 1) {
    margin-right: 0;
  }
}
@media screen and (max-width: 750px) {
  .blog {
    padding: 80px 20px;
  }
  .prev-btn,
  .next-btn {
    display: none;
  }
  .testimonials__slider .slick-current.slick-active.slick-center {
    -webkit-mask-position: 75% center;
    mask-position: 75% center;
  }
  .steps__item {
    padding: 0 12px;
  }
}
@media screen and (max-width: 650px) {
  .steps--wrapper {
    flex-direction: column;
    align-items: center;
  }
  .steps__item {
    width: 288px;
    padding: 0;
  }
}
@media screen and (max-width: 550px) {
  .numbers-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .numbers__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 490px) {
  .footer__left--navbar > div {
    margin-top: 24px;
  }
}
@media screen and (max-width: 480px) {
  .preorder-form {
    max-width: none;
    width: 90%;
    padding: 16px;
  }
}
