body {
  font-family: "Noto Sans SC", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.text {
  font-weight: 500;
  line-height: 24px;
}
.page-btn {
  display: inline-block;
  padding: 12px 32px;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}
.main-title {
  font-weight: 900;
  font-size: 46px;
  line-height: 72px;
  color: #ffffff;
}
.element-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}
.section-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 64px;
  text-align: center;
  color: #31343a;
  margin-bottom: 40px;
}
.content-section {
  padding: 80px 10px;
}
/* HEADER */
.header {
  width: 100%;
  background: rgba(0, 0, 0, 1);
  position: fixed;

  z-index: 1005;
}
.header-wrapper {
  max-width: 1224px;
  margin: 0 auto;
  padding: 4px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  max-width: 220px;
  margin: 0 10px;
}
.header__logo > img {
  width: 100%;
}
.header__navbar {
  max-width: 604px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: relative;
}
.header__navbar a,
.header__navbar-mobile a {
  text-decoration: none;
  color: #ffffff;
}
#open-subnavbar::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 5px;
  background: url("../img/dropdown.svg") 50% no-repeat;
  background-size: cover;
  margin-left: 11px;
  vertical-align: middle;
  transition: 0.3s ease;
}
#open-subnavbar.opened::after {
  transform: rotate(180deg);
}
.header__navbar--subnavbar {
  position: absolute;
  width: 240px;
  display: flex;
  flex-direction: column;
  top: calc(100% + 7px);
  background: #fff;
  z-index: 101;
}
.header__navbar--subnavbar > a,
.header__navbar-mobile > a,
.header__navbar-mobile > nav > a {
  color: #31343a;
  line-height: 40px;
  padding-left: 16px;
}
.header__navbar--subnavbar > a:hover {
  background: #5fcf9d;
  color: #fff;
}
.header__navbar--subnavbar {
  padding: 8px 0;
  box-shadow: 0px 16px 48px rgba(103, 114, 148, 0.16);
  border-radius: 4px;
}
.header__btn {
  border: 1px solid #ffffff;
}
.header__toggler {
  display: none;
  height: 16px;
  cursor: pointer;
}
.header__toggler--item {
  display: block;
  width: 18px;
  height: 2px;
  background: #fff;
  position: relative;
  transition: 0.3s ease;
  top: 50%;
  transform: translateY(-50%);
}
.header__toggler--item::before,
.header__toggler--item::after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 2px;
  background: #fff;

  transition: 0.3s ease;
}
.header__toggler--item::before {
  top: -5px;
}
.header__toggler--item::after {
  bottom: -5px;
}
.header__toggler.opened > span {
  background-color: transparent;
}
.header__toggler.opened > span::before {
  top: 0;
  transform: rotate(45deg);
}
.header__toggler.opened > span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.header__navbar-mobile {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 0;
  background: #fff;
  z-index: 101;
  padding: 8px 0;
}
.header__navbar-mobile--subnavbar {
  padding-left: 32px;
  display: flex;
  flex-direction: column;
}
#open-mobile-subnavbar {
  background: url("../img/ic_chevron_rdown.svg") 96% 50% no-repeat;
}
#open-mobile-subnavbar.opened {
  background: url("../img/ic_chevron_up.svg") 96% 50% no-repeat;
}
.header__navbar-mobile a:hover {
  background-color: #5fcf9d;
}

/* end HEADER */

/* MAIN PAGE STYLES */
.mainpage-top {
  background: url("../img/hero-bg.svg") 50% no-repeat;
  background-size: cover;
}
.main-page-header {
  background: rgba(0, 0, 0, 0.2);
}
/* end MAIN PAGE STYLES  */

/* HERO */
.hero-wrapper {
  max-width: 1224px;
  margin: 0 auto;
  padding: 136px 10px 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hero-text {
  color: #ffffff;
  margin-bottom: 32px;
}
.hero__left {
  max-width: 768px;
  padding: 32px 0;
}
.hero__left > .main-title {
  margin-bottom: 32px;
}
.hero__bottom {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  max-width: 530px;
  padding: 24px 32px;
  border-radius: 4px;
  margin-bottom: 32px;
}
.hero__bottom > h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}
.hero-btn {
  background: #5fcf9d;
}
/* end HERO */

/* PREORDER FORM */
.preorder-form {
  max-width: 392px;
  background: #ffffff;
  width: 100%;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  margin-left: 10px;
}
.preorder-form > .element-title {
  color: #31343a;
  margin-bottom: 16px;
  text-align: center;
}
.custom-form-element {
  margin-bottom: 16px;
  position: relative;
}
.custom-form-element__header {
  font-size: 14px;
  line-height: 20px;
  color: #666c7d;
  margin: 0 0 8px 16px;
}
.custom-form-element__select {
  font-size: 18px;
  line-height: 28px;
  color: #666c7d;
  background: url("../img/grey-dropdown.svg") 96% 50% no-repeat, #f8f8f8;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 2px 16px;
  cursor: pointer;
}
.custom-form-element__select.active {
  background: url("../img/grey-dropdown-up.svg") 96% 50% no-repeat, #f8f8f8;
}
.custom-form-element__select--menu {
  position: absolute;
  z-index: 100;
  top: calc(100% + 4px);
  background: #fff;
  width: 100%;
  border: 2px solid blue;
}
.custom-checkbox {
  text-align: center;
  margin: 24px 0 16px;
}
.custom-checkbox > input {
  display: none;
}
.custom-checkbox > label {
  position: relative;
  cursor: pointer;
  color: #666c7d;
}
.custom-checkbox > label::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url("../img/checkbox-not-cheked.svg") 50% no-repeat;
  position: absolute;
  left: -29px;
  top: 3px;
}
.custom-checkbox > input:checked + label::before {
  background: url("../img/checkbox-cheked.svg") 50% no-repeat;
}
.custom-total {
  margin-bottom: 16px;
}
.submot-btn-wrapper {
  text-align: center;
}
.submit-btn {
  background: #f8ce46;
}
/* end PREORDER FORM */

/* SERVICE */
.service {
  padding-bottom: 40px;
}
.service-wrapper {
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.service__item {
  max-width: 420px;
  padding: 28px 32px 52px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 16px 48px rgba(103, 114, 148, 0.16);
  border-radius: 4px;
}
.service__item:nth-child(2n + 1) {
  margin-right: 24px;
}
.service__item {
  margin-bottom: 40px;
}
.service__item > img {
  margin-bottom: 20px;
}
.service__item > h3 {
  color: #31343a;
  margin-bottom: 8px;
}
.service__item > p {
  color: #666c7d;
  text-align: left;
}
/* end SERVICE */

/* GUARANTEE */
.guarantee {
  background: #f8f8f8;
  padding-bottom: 40px;
}
.guarantee-wrapper {
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.guarantee__item {
  max-width: 392px;
  width: 100%;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 16px 48px rgba(103, 114, 148, 0.16);
  border-radius: 4px;
  padding: 24px 0;
  margin-bottom: 40px;
}
.guarantee__item:not(:nth-child(3n + 3)) {
  margin-right: 24px;
}
.guarantee__item--image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #f8ce46;
  margin: 0 auto 16px;
}
.guarantee__item > p {
  color: #666c7d;
  margin-top: 8px;
}
/* end GUARANTEE */

/* TESTIMONIALS */
.testimonials {
  padding-bottom: 150px;
}
.testimonials__slider-container {
  max-width: 1224px;
  margin: 0 auto;
  position: relative;
  align-items: center;

  background: url("../img/iPhoneX.svg") 50% no-repeat;
  background-size: auto 100%;
}
.testimonials__slider--controls {
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translate(-50%, 100%);
}
.testi-prev-btn:hover > circle,
.testi-next-btn:hover > circle {
  cursor: pointer;
  fill: #5fcf9d;
}
.testi-prev-btn:hover > path,
.testi-next-btn:hover > path {
  fill: #fff;
}
.testimonials__slider .slick-current.slick-active.slick-center {
  background: #fafafa;
  background-position: center center;
  -webkit-mask-image: url("../img/mask.svg");
  mask-image: url("../img/mask.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 97% center;
  mask-position: 97% center;
  -webkit-mask-size: 98%;
  mask-size: 98%;
  margin: -7px 40px 0 40px;
  width: 244.32px !important;
  padding: 250.75px 0 !important;
  top: 0;
  font-size: 2em;
  line-height: 64px;
}
.testimonials__slider--slide {
  padding: 205px 0 !important;
  text-align: center;
  background: #c4c4c4;
  width: 204px !important;
  margin: 0 24px;
  font-weight: 800;
}
.mask {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.mask rect {
  mask: url(#mask);
}
.slick-track {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}
/* end TESTIMONIALS */

/* NUMBERS */
.numbers {
  max-width: 808px;
  background: #ffffff;
  box-shadow: 0px 16px 48px rgba(103, 114, 148, 0.16);
  border-radius: 4px;
  margin: 0 auto;
  padding: 64px 48px;
  box-sizing: border-box;
}
.numbers-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.numbers > h2 {
  margin-bottom: 32px;
}
.numbers__item {
  max-width: 184px;
  text-align: center;
}
.numbers__item > h3 {
  margin: 0;
  color: #e6645f;
}
.numbers__item > p {
  color: #666c7d;
}
/* end NUMBERS */

/* BLOG */
.blog {
  padding: 90px;
}
.slider__container {
  max-width: 1224px;
  margin: 0 auto;
  position: relative;
}
.blog__slider {
  margin: 0 -12px;
}
.slick-slide {
  padding: 0 12px;
}
.blog__slider--slide > img {
  width: 100%;
  margin-bottom: 16px;
}
.blog__slider--slide > h3 {
  margin-bottom: 8px;
}
.blog__slider--slide > .text {
  color: #666c7d;
}
.order-now.text {
  color: #5fcf9d;
  margin-top: 8px;
}
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.prev-btn {
  left: -78px;
}
.next-btn {
  right: -78px;
}
.slick-dots {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  margin-top: 40px;
}
.slick-dots > li:not(:last-child) {
  margin-right: 12px;
}
.slick-dots > li > button {
  text-indent: -9999px;
  background-color: #efefef;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  outline: none !important;
  padding: 0;
  box-sizing: unset;
  cursor: pointer;
}
.slick-active > button {
  background-color: #5fcf9d !important;
}
/* end BLOG */

/* TOP SECTION ORDER FORM PAGE */
.top-section {
  padding: 130px 10px 65px;
  text-align: center;
}
.top-section > .section-title {
  margin-bottom: 24px;
}
/* end TOP SECTION ORDER FORM PAGE */
/* FORM SECTION */

.form-section {
  background: #f8f8f8;
}
.block.active {
  opacity: 1 !important;
}
.block-text.active {
  fill: #f8f8f8;
}
.form-section-wrapper {
  max-width: 1224px;
  margin: 0 auto;
  padding: 65px 10px 80px;

  position: relative;
}
.form-section__progressbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}
.form-section__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* end FORM SECTION */

/* ORDER FORM */
.form-section__body--order-form {
  width: 57.5%;
}
.order-form__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #31343a;
}
.order-form__subtitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #666c7d;
  margin-bottom: 16px;
}
.form-section__body--order-form .custom-form-element__select {
  background: url("../img/grey-dropdown.svg") 96% 50% no-repeat, #fff;
}
.order-form__dropdowns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.order-form__dropdowns--column {
  width: 46.5%;
  display: inline-block;
}
.form-section__body--order-form textarea {
  resize: none;
  width: 100%;
  min-height: 96px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 2px 16px;
  font-size: 18px;
  line-height: 28px;
  color: #666c7d;
}
.order-form-title {
  margin-top: 32px;
  text-align: center;
}
.order-form-subtitle {
  line-height: 24px;
  text-align: center;
  color: #666c7d;
  margin-top: 8px;
  margin-bottom: 16px;
}
.order-form__draggable-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.draggable__item {
  width: 200px;
}
.draggable__item > input {
  visibility: hidden;
}
.draggable__item > label {
  display: inline-block;
  padding: 16px 8px;
  background: #fff;
  text-align: center;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0;
}
.draggable__item > label > .page-btn {
  background: #f8ce46;
  margin: 44px 0 0;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
}
.draggable__item > label > h3 {
  color: #31343a;
}
.draggable__item > label > p {
  line-height: 24px;
  color: #666c7d;
  margin: 8px 0 44px;
}
.order-form__promocode {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 48px;
  margin-bottom: 24px;
}
.order-form__promocode > input {
  width: 288px;
  padding: 2px 76px 2px 16px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 18px;
  line-height: 28px;
  color: #666c7d;
}
.order-form__promocode--apply {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #f8ce46;
  cursor: pointer;
}
.order-form__promocode + .text {
  text-align: center;
  color: #666c7d;
  margin-top: 0;
  margin-bottom: 48px;
}
.order-form__submit {
  text-align: center;
}
.order-form__submit > .page-btn {
  background: #5fcf9d;
  width: 200px;
  box-sizing: border-box;
}
#date-input {
  width: 100%;
  display: block;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 2px 16px;
  cursor: pointer;
  font-size: 18px;
  line-height: 28px;
  color: #666c7d;
  background: url("../img/ic_drop_down.svg") 97% 50% no-repeat, #ffffff;
  position: relative;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 3%;
}
[type="date"]:focus {
  outline: none;
}
.form-item {
  display: none;
}
.active-form {
  display: block;
}
/* end ORDER FORM */

/* REGISTRATION FORM */
.form-section__body--order-form.reg-form {
  width: 46.5%;
  margin: 0 auto;
}
#reg-form {
  margin-top: 32px;
}
.reg-form > form > h4 {
  text-align: center;
  color: #31343a;
  margin-bottom: 24px;
}
.reg-forms-toggler > input {
  display: none;
}
.reg-forms-toggler,
.reg-forms-toggler__label {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reg-forms-toggler {
  margin: 24px 0 32px;
  justify-content: space-between;
}
.reg-forms-toggler__label {
  font-weight: 500;
  line-height: 24px;
  color: #666c7d;
  cursor: pointer;
}
.reg-forms-toggler__label > span {
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #677294;
  border-radius: 50%;
  font-size: 20px;
  line-height: 20px;
  margin-right: 18px;
}
/* input[name="customer"]:checked + label,
input[name="customer-type"]:checked + .reg-forms-toggler__label {
  color: #020202;
} */
input[name="customer"]:checked + label,
input[name="customer-type"]:checked + .reg-forms-toggler__label > span {
  border: none;
  background: url("../img/ic_radio_on.svg") 50% no-repeat;
  background-size: cover;
}
.reg-form__socials {
  text-align: center;
}
.reg-form__socials:not(:last-child) {
  margin-bottom: 8px;
}
.custom-form-element__select.textfield {
  background: #fff;
}
.reg-form > form .custom-form-element__select {
  width: 100%;
}
.reg-form > form > .order-form__submit {
  margin-top: 48px;
}
.reg-form > form {
  display: none;
}
.active-reg {
  display: block !important;
}
.reg-form__socials {
  cursor: pointer;
}
/* end REGISTRATION FORM */
/* PAYMENT FORM */
#payment-form {
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 24px;
  margin-top: 24px;
}
.payment-form__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.payment-form__top .reg-forms-toggler__label > span {
  margin-right: 10px;
}
.payment-form__top--cards > img:not(:last-child) {
  margin-right: 20px;
}
.card-info__right,
.payment-form__items--card-info,
.payment-form__items--credentials {
  display: flex;
  justify-content: space-between;
}
.payment-form__items--credentials > .custom-form-element {
  width: 48%;
}
.payment-form__items--card-info > .custom-form-element > input,
.card-info__right > .custom-form-element > input,
.payment-form__items--credentials > .custom-form-element > input {
  width: 100%;
}
.payment-form__items--card-info > .custom-form-element {
  width: 48%;
}
.payment-form__items--card-info .custom-form-element {
  margin-bottom: 0;
}
.card-info__right {
  width: 48%;
  align-items: center;
}
.card-info__right > .custom-form-element:first-child {
  width: 58%;
}
.card-info__right > .custom-form-element:last-child {
  width: 38%;
}
#payment-form > .custom-checkbox {
  margin: 32px 0;
}
/* end PAYMENT FORM */
/* THANK YOU MODAL */
.form-section__body--modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10000;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.modal-wrapper {
  background: #ffffff;
  box-shadow: 0px 16px 56px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 48px;
  text-align: center;
  max-width: 1016px;
  position: relative;
}
.close-modal {
  position: absolute;
  top: 21px;
  right: 21px;
  cursor: pointer;
}
.modal-wrapper > h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  color: #31343a;
  margin-bottom: 24px;
}
.modal-wrapper > p {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #666c7d;
  margin-bottom: 32px;
}
.ty-submit > .page-btn {
  background: #f8ce46;
}
/* end THANK YOU MODAL */
/* ORDER COST FORM */
.form-section__body--order-cost {
  width: 32.5%;
  min-height: 100%;
}
.order-cost {
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
  display: inline-block;
  width: 100%;
  padding: 16px 32px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-top: 16px solid #f8ce46;
}
.order-cost > h3 {
  color: #31343a;
  text-align: center;
  margin-bottom: 16px;
}
.order-cost > p {
  color: #666c7d;
  margin-bottom: 16px;
}
.order-cost > p > span:first-child {
  margin-right: 16px;
}
.order-cost__divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}
.order-cost__divider > p {
  color: #666c7d;
  margin-right: 16px;
  white-space: nowrap;
}
.order-cost__line {
  width: 100%;
  height: 2px;
  background: #dddddd;
}
.order-cost__item,
.order-cost__item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.order-cost__item {
  margin-bottom: 16px;
}
.order-cost__item-wrapper > p {
  color: #31343a;
  margin-left: 16px;
}
.order-cost__item--price {
  color: #31343a;
}
.order-cost__item--price > span:last-child {
  font-size: 12px;
}
.order-cost__descriptor {
  text-align: center;
  margin-top: 16px;
  color: #666c7d;
}
/* end ORDER COST FORM */

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .guarantee__item:not(:nth-child(3n + 3)) {
    margin-right: 0;
  }
  .guarantee__item:nth-child(2n + 1) {
    margin-right: 24px;
  }
}
@media screen and (max-width: 1050px) {
  .header__navbar {
    display: none;
  }
  .header__toggler {
    display: block;
  }
  .hero-wrapper {
    flex-direction: column;
  }
  .preorder-form {
    margin-top: 80px;
    margin-left: 0;
  }
  .order-form__dropdowns {
    flex-direction: column;
  }
  .order-form__dropdowns--column {
    width: 100%;
  }
}
@media screen and (max-width: 904px) {
  .service-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .service__item:nth-child(2n + 1) {
    margin-right: 0;
  }
}
@media screen and (max-width: 828px) {
  .guarantee-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .guarantee__item:nth-child(2n + 1) {
    margin-right: 0;
  }
}
@media screen and (max-width: 750px) {
  .blog {
    padding: 80px 20px;
  }
  .prev-btn,
  .next-btn {
    display: none;
  }
  .testimonials__slider .slick-current.slick-active.slick-center {
    -webkit-mask-position: 75% center;
    mask-position: 75% center;
  }
}
@media screen and (max-width: 550px) {
  .numbers-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .numbers__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  .preorder-form {
    max-width: none;
    width: 90%;
    padding: 16px;
  }
}
